@import "../../units/colors/utils";
@import "../../units/typography/utils";

.footer{
  padding:36px 0;
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: $color-text;

}

.htmlacademy-info{
  display: flex;
  align-items: center;


  path{
    fill: $color-primary-text;
  }

  svg:hover{
    path{
      fill:$color-primary;
    }
  }

  svg:active{
    path{
      fill:$color-control-arrow;
    }
  }
}

.footer__hashtag{
  color: $color-primary-text;
  font-size: $typography-h2;
  text-transform: uppercase;
}

.footer__referals{
  //display: flex;
}

.footer__referals-item{
  path{
    fill: $color-primary;
  }
}

.footer__author-text{
  color: $color-primary-text;
  font-size: $typography-text-small;
  text-transform: uppercase;
  margin-right: 7px;
}