.welcome-section__image-rocks{
  z-index: -1;
  position: absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);
  width:auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: none;

  @supports (object-fit: cover) {
      left:0;
      width: 100%;
      height: 100%;
      transform:none;
      object-fit: cover;
      object-position: center top;
  }
}

.welcome-section__image-welcome{
  padding: 0 17%;
}

.welcome-section__image-sedona{
  margin-top: 52px;
  margin-bottom: 52px;
}

.welcome-section__image-sucks{
  padding:0 5%;
}

.welcome-section{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 516px;
  overflow: hidden;
  background-image: url("../images/background-image-bottom-shape.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

