@import "../../units/colors/utils";
@import "../../units/typography/utils";

.select-section{
  background-image: url("../images/red-rocks-blur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 80%;

}

.select-section__form{
  display: flex;


  @include mobile {
      justify-content: center;
      flex-wrap: wrap;
      padding: 30px 20px;
  }

  @include tablet {
      padding: 30px 0;
  }
}

.select-section__range-fieldset{
  margin-left: auto;

  @include mobile {
      margin-top: 25px;
  }
}


