@import "../../units/colors/utils";
@import "../../units/typography/utils";

.select-section{
  background-image: url("../images/red-rocks-blur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 80%;

}

.select-section__form{
  display: flex;
  flex-wrap: wrap;
  padding: 30px 20px;
}

.select-section__form-check{
  flex-basis: 50%;
  display: flex;
  justify-content: center;

  legend{
    color:$color-secondary-active;
    font-weight: bold;
    font-size: $typography-text-medium;
    text-transform: uppercase;
  }

  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

}

.select-section__form-range{
  flex-basis: 100%;
  margin-top:25px;

  legend{
    color:$color-text;
    font-size: $typography-text-medium;
    text-transform: uppercase;
    margin: 0 auto;
  }

  .range-box-wrap{
    display: flex;
    justify-content: center;
    margin: 10px 0 20px;
  }

  .range-box{
    position: relative;
    display: flex;
    justify-content: center;
    flex-basis: 220px;
    min-height: 35px;
    border: 2px solid $color-text;
    border-radius: 4px;

    .range-box__from{
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color:$color-text;
      font-size: $typography-text-small;
      text-transform: uppercase;
    }

    .range-box__from::after{
      content: '';
      position: absolute;
      width: 2px;
      right: 50%;
      top:5px;
      bottom: 5px;
      transform: translateX(-50%);
      background-color:$color-text;
    }

    .range-box__to{
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color:$color-text;
      font-size: $typography-text-small;
      text-transform: uppercase;
    }
  }



  input{
    display: block;
    margin:0 auto;
  }
  
  .select-section__form-range__button{
    cursor: pointer;
    display: block;
    margin:0 auto;
    border: 2px solid $color-text;
    border-radius: 4px;
    width: 133px;
    height: 32px;
    background-color: transparent;
    color:$color-text;
    font-size: $typography-text-small;
    text-transform: uppercase;
  }


}

.select-section__form-check-label{
  cursor: pointer;
  margin-top:20px;
  color:$color-text;
  font-size: $typography-text-small;
  text-transform: uppercase;
  position: relative;
  padding-left:35px;
}

.custom-checkbox{
  position: absolute;
  left: 0;
  top: 0;

  path{
    fill:$color-text;
  }
}


@include tablet{

  .select-section__form{
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 30px 0;
  }

  .select-section__form-check{
    flex-basis: 33.33%;
    legend{
      color:$color-text;
    }
  }

  .select-section__form-range{
    flex-basis: 33.33%;
    margin-top: 0;

    legend{
      margin-right: 44px;
    }

    .range-box-wrap{
      justify-content: flex-end;
    }

    input{
      margin-right: 0;
    }

    .select-section__form-range__button{
      margin-right: 44px;
    }
  }

}