@import "../../units/colors/utils";
@import "../../units/typography/utils";

.select-section{
  background-image: url("../images/red-rocks-blur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 80%;

}

.select-section__form{
  display: flex;
}

.check-fieldset{
  display: flex;

  .check-fieldset__name{
    color:$color-secondary-active;
    font-weight: bold;
    font-size: $typography-text-medium;
    text-transform: uppercase;
  }

  .check-fieldset__label{
    cursor: pointer;
    margin-top:20px;
    color:$color-text;
    font-size: $typography-text-small;
    text-transform: uppercase;
    position: relative;
    padding-left:35px;
  }

}

.select-section__range-fieldset{
  margin-left: auto;
}

.range-fieldset{
  display: flex;
  flex-direction: column;

  .range-fieldset__name{
    color:$color-text;
    font-size: $typography-text-medium;
    text-transform: uppercase;
  }

  .range-fieldset__range-box{
    margin: 10px 0 16px
  }

  .range-fieldset__input{
    margin-bottom: 26px;
  }

  .range-fieldset__button{
    align-self: center;
    cursor: pointer;
    border: 2px solid $color-text;
    border-radius: 4px;
    width: 133px;
    height: 32px;
    background-color: transparent;
    color:$color-text;
    font-size: $typography-text-small;
    text-transform: uppercase;
  }
}


.custom-checkbox{
  position: absolute;
  left: 0;
  top: 0;

  path{
    fill:$color-text;
  }
}


@include tablet{
  .select-section__range-fieldset{
    margin-right: 0;
  }

  .select-section__form{
    justify-content: space-between;
    padding: 30px 0;
  }

  .check-fieldset{
    flex-basis: 33.33%;
    .check-fieldset__name{
      color:$color-text;
    }
  }

  .range-fieldset{
    flex-basis: 220px;
  }

}

@include desktop{
  .range-fieldset {
    flex-basis: 314px;
  }
}

@include mobile{

  .select-section__form{
    flex-wrap: wrap;
    padding: 30px 20px;
  }

  .select-section__range-fieldset{
    margin-right: auto;
    margin-top:25px;
  }

  .check-fieldset{
    flex-basis: 50%;
  }

  .range-fieldset{
    flex-basis: 220px;
  }

}