@import "../../units/colors/utils";
@import "../../units/typography/utils";

.sort-section{
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $color-divider;

  @include mobile {
      padding: 10px;
  }
}

.sort-section.section{
  @include tablet {
    align-items: baseline;
    padding-top: 37px;
    padding-bottom: 37px;
  }
}

.sort-section__sort-fieldset{
  flex-grow: 1;
}

.sort-section__header{
  color:$color-primary-text;
  font-size: $typography-h2;
  line-height: $typography-h2;
  font-weight: bold;
  text-transform: uppercase;

  @include mobile {
      margin-bottom: 10px;
      flex-basis: 100%;
  }

  @include tablet {
      margin-right: 50px;
  }
}






