@import "../../units/colors/utils";
@import "../../units/typography/utils";

.box{
  padding:50px 43px;
  display:block;
  text-align: center;
}

.box__h{
  font-weight: bold;
  font-size:$typography-h2;
  line-height: 1.312rem;
  text-transform: uppercase;
}

.box__number{
  text-transform: uppercase;
  font-weight: normal;
  font-size:$typography-text-small;
  margin: 28px 0;
}

.box__text{
  text-transform: uppercase;
  font-weight: normal;
  font-size:$typography-text-small;
}

.box__text--min-width{
  max-width: 19rem;
  margin: 0 auto;
}

.list-box{
  padding: 60px;
  background-color:$color-text;
  color:$color-secondary-text;

  .box__h{
    margin: 32px 0;
    color:$color-primary-text;
  }
}

.box--primary{
  background-color: $color-primary;
  color:$color-text;
  flex-basis: 33.33%;
}

.box--secondary{
  flex-basis: 33.33%;
  background-color: $color-app-background;
  color:$color-secondary-text;
  .box__h{
    max-width: 150px;
    margin:0 auto;
    color:$color-primary-text;
  }
}



@include mobile{
  .box--secondary{
    position: relative;
    max-width: 450px;
    margin: 0 auto;
  }

  .mobile-box-border-bottom::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    bottom:0;
    background-color: lightgray;
  }

  .list-box{
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    border:none;
    padding:10px;
    text-align: start;

    .box__h{
      margin-bottom: 20px;
    }

    .secondary-reasons__svg{
      position: absolute;
      top:40px;
      left:-75px;
    }
  }

}

@include tablet{
  .box{
    padding: 50px 35px 40px 35px;
  }

  .list-box{
    padding: 38px;
  }

}

@include desktop{

  .box{
    padding:50px 43px;
  }

  .list-box{
    padding: 60px;
  }


}