@import "../../units/colors/utils";
@import "../../units/typography/utils";

.button{
  padding: 21px 0;
  color:$color-text;
  background-color: $color-primary;
  border:none;
  border-radius: 1px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover{
  background-color: #669ec0;
}

.button:active{
  background-color: #5496bd;
  color: #88b6d1;
}