@import "../../units/colors/utils";
@import "../../units/typography/utils";

.hotels-section{
  .hotels-section__hotel{
    border-bottom: 1px solid $color-divider;
  }
}

.hotel__name{
  line-height: 26px;
  color:$color-primary-text;
  font-weight: bold;
  font-size: $typography-h2;
  text-transform: uppercase;
}

.hotel__info{
  margin-top:2px;
  color:$color-primary-text;
  font-size: $typography-text-small;
  text-transform: uppercase;

  .hotel__type{
    margin-right: 15px;
  }
}

.hotel__button{
  font-size: $typography-text-small;
  display: inline-block;
  margin-top:10px;
  padding:5px 18px;
}

.hotel-button--secondary{
  background-color: $color-secondary;
}

.hotel__rating-text{
  padding:5px 15px;
  background-color: $color-form-control;
  color:$color-primary-text;
  font-size: $typography-text-small;
  text-transform: uppercase;
}

@include mobile{
  .hotel{
    padding:20px 10px;
    text-align: center;
  }

  .hotel__button{
    margin-bottom: 20px;
  }

  .hotel__rating-text{
    margin-left: 15px;
  }
}

@include tablet{

  .hotel{
    display: flex;
    padding-top:30px;
    padding-bottom:30px;
  }

  .hotel__img{
    margin-right: 30px;
  }

  .hotel__rating{
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .hotel__stars{
      margin-left:auto;
    }

  }

}
