@import "vendors/bulma/sass/utilities/_all.sass";
@import "vendors/bulma/sass/base/_all.sass";
@import "vendors/bulma/sass/elements/container.sass";
@import "vendors/normalize";
@import "units/base/output";
@import "units/typography/output";
@import "components/navbar/output";
@import "components/welcome-section/output";
@import "elements/box/output";
@import "elements/button/output";
@import "components/reasons-section/output";
@import "components/booking-section/output";
@import "components/map-section/output";
@import "components/footer/output";
@import "elements/input/output";

.ml-20px{
  margin-left: 20px;
}

.disp-none{
  display: none;
}

.disp-flex{
  display: flex;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.info-about-sedona{
  font-size: $typography-h2;
  font-weight: bold;
  background-color: $color-text;
  display: flex;
  justify-content: center;
  padding-top:60px;
  padding-bottom:40px;
  line-height: 1.625rem;

  span{
    flex-basis: 445px;
    text-align: center;
    text-transform: uppercase;
    color:$color-primary-text;
  }
}

.reasons-section__h{
  text-align: center;
  font-size: $typography-text-small;
  flex-basis:100%;
  padding-bottom: 56px;
  background-color: $color-text;
  text-transform: uppercase;
  color:$color-secondary-text;
}

fieldset{
  border:none;
}

@include mobile{

  .mob-only-ml-54{
    margin-left: 54px;
  }

  .disp-none-mobile{
    display: none;
  }
}

@include tablet{

  .section{
    padding: 0 50px;
  }
}

@include desktop{

  .section{
    padding: 0 75px;
  }
}

@include widescreen{
  .section{
    padding: 0 100px;
  }
}