.input-range {
  width:100%;
  -webkit-appearance: none;
  height: 2px;
  background-color: $color-form-icon;

  @include mobile{
    max-width: 220px;
  }

  @include tablet{
    max-width: 314px;
  }
}

.input-range:focus {
  outline: none;
}

.input-range::-webkit-slider-thumb {
  height: 23px;
  width: 20px;
  background-image: url("../icons/form-circle.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-appearance: none;
}