@import "../../units/colors/utils";
@import "../../units/typography/utils";

header{
  background-color: $color-text;
  text-transform: uppercase;
}

.nav{
  position: relative;
}

.nav__logo{
  z-index: 2;
  position: absolute;
  top:0;
  left: calc(50% - 69px);
}

.nav-list{
  display: flex;
  justify-content: space-between;
}

.nav-list__item{
  min-height: 56px;
  display: flex;
  align-items: center;
}



.nav-list__item-link {
  font-weight: bold;
  font-size:$typography-text-small;
  color:$color-primary-text;
}

.nav-list__item-link:hover{
  color:$color-primary;
}

.nav-list__item-link:active{
  color:$color-form-icon;
}

.nav__toggler{
  button{
    border: none;
    background-color: white;
    cursor: pointer;
  }

  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@include mobile{

  .nav-list{
    display: block;
  }

  .nav{
    padding-top:80px;
  }

  .nav-list__item{
    display:flex;
    align-items: stretch;
  }

  .nav-list__item-link{
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@include tablet{

  .nav__toggler{
    display: none;
  }

  .nav{
    padding: 0 50px;
  }

  .nav-list__second-item-mr-right{
    margin-right:137px;
  }
}

@include desktop{

  .nav-list__second-item-mr-right{
    margin-right: 218px;
  }

  .nav{
    padding: 0 75px;
  }
}

@include widescreen{
  .nav{
    padding: 0 100px;
  }
}





